@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "_AuthLayout";
}

<form asp-action="ForgetPassword">
	<input class="text email" type="email" asp-for="@Model.Email" placeholder="Email" required="">
	<span class="text-danger" asp-validation-for="@Model.Email"></span>

	<input type="submit" value="Forget Password" />
</form>
